.fedback-error-signin{
  width: 330px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  list-style: none;
  color: #a94442;
  list-style: none;
}

#loading-indicator {
  position: absolute;
  left: 10px;
  top: 10px;
}

.datetimepicker-form-control{

    float:left;
  margin-bottom:0;
  width:100%;
  background-color:#FFFFFF;
  border:1px solid #CCCCCC;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
  color:#555555;
  display:block;
  font-size:10px;
  height:34px;
  line-height:1.428571429;
  padding:6px 12px;
  width:100%;
}


.datetimepicker-input-group {
  border-collapse:separate;
  display:table;
  position:relative;
  margin-top: -5px;
}

.datetimepicker-search-input-group{
 margin-top: 8px;   
}

.header-button{
  margin-top: -5px;
}

#dataTables-tracklist th, #dataTables-tracklist td {
max-width: 200px;
min-width: 70px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.review-filters{
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 30px;
}

.review-filters-disabled{
  opacity: 0.5;
}

.review-control{
  margin-bottom: 10px;
  padding: 6px 7px !important;
}

.review-form-group{
    padding: 0px;
      margin-bottom: 0px;
}
.review-info-btn{
    margin-bottom: 10px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
z-index: 1; /*for fixing google map z index*/
}